.button{
    display: flex;
    justify-content: center;
}

.button .button{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
}

button{
    background:#A9BCD0;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:1rem;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:#275ec5;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #70e4b3;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

.wrapper{
  width: auto;
  height:400px;
  display:flex;
  padding-bottom: 4rem;
}

.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
